{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>Edit</title>
    <style>
        body{
            font-size: large;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
  .form-container {
    margin-right: 50%;
    width: 100px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
  .btn1 { 
          margin-right: 90%; 
          padding: 20px 20px; 
          font-size: 30px; 
          font-weight:300;  
          border-radius: 20px; 
        }
    </style>
    
</head>

<body>
    <h1>Edit Profile</h1>

    <hr>
    <div class="form-container">
   <form action="" method="post">
    {{form.as_p}}
    {% csrf_token %}
    <div class="btn1">
    <input type="submit" value="Edit">
    </div>
   </form>
  </div>
</body>