{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <title>New</title>
    <style>
        body{
            font-size: large;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        }
  .form-container {
    margin: 0 auto;
    width: 300px;
  }
  form {
    display: flex;
    flex-direction: column;
  }
    </style>
</head>
<body>
    <div>
        <h1>Create New Profile</h1>
        <hr>
        <form action="" method="post">
            {{form.as_p}}
            <input type="submit" , value="Save">
            {% csrf_token %}
        </form>
    </div>
</body>
</html>